<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Update User</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<div th:replace="fragments/header :: header"/>

<body>
<div class="container my-5">
    <h3>Update User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/app/user/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="username" class="col-form-label">Username</label> <input type="text" th:field="${user.username}" class="form-control" id="username" placeholder="Username"> <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="password" class="col-form-label">Password</label> <input type="text" th:field="${user.password}" class="form-control" id="password" placeholder="Password"> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="roles" class="col-form-label">Roles</label> <input type="text" th:field="${user.roles}" class="form-control" id="roles" placeholder="Roles"> <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update User">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>